<div class="footer-content">
    

    <div class="informacion container">
        <div class="footer-logo">
            <img src="images/logo.svg" class="logo" alt="Logo">
        </div>

        <div class="content">
            <div class="detalles">
                <div>
                    <img src="images/icon-location.svg" class="icon-contat" alt="Locacion">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua</p>
                </div>
                <div>
                    <img src="images/icon-phone.svg" class="icon-contat" alt="Celular">
                    <p>+1-543-123-4567</p>
                </div>
                <div>
                    <img src="images/icon-email.svg" class="icon-contat" alt="Correo">
                    <p>examplehuddle.com</p>
                </div>
            </div>
    
            <div class="paginas">
    
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">What We Do</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
    
                <ul>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
    
            </div>
    
            <div class="redes-sociales">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
    
            </div>
        </div>

        
    </div>
    

    <span class="footer-end">&copy; Copyright 2018 Huddle. All rights reserved.</span>
</div>