<div class="contenido">
    <div class="descripcion">
        <div class="titulo">
            <div>Build The Community</div>
            <div>Your Fans Will Love</div>
        </div>

        <div class="contenido">
            Huddle re-imagines the way we build communities. You have a voice, but so does your audience.
            Create connections with your users as you engage in genuine discussion.
        </div>
        <div class="button">
            <button>Get Started For Free</button>
        </div>
    </div>
    <div class="imagen">
        <img src="images/illustration-mockups.svg" class="logo" alt="Logo">
    </div>
</div>